body{
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-family: "MyriadProRegular", sans-serif;
}

.circle{
	position: relative;
	border: 1px solid #0071BE;
	width: 18.9%;
	height: 255.63px;
	border-radius: 500px;
	margin: 96px 0 0 13%;	
}
.circle #circle-center{
	position: absolute;
	margin: 6.256%;
	width: 87.5%;
	height: 223px;
	background: #0071BE;
	border-radius: 500px;
}

#name, #surname, #prof{
	font-size: 55px;	
	width: 33.603%;
	margin-left: 5.73%;
	position: left;
	text-align: center;		
}

#name{
	/*font-size: 57.54px;*/
	font-size: 61.54px;
	margin-top: 22px;	
	margin-bottom: 0px;
	text-transform: uppercase;	
	/*border: 1px solid;*/
}

#surname{
	font-size: 67.99px;
	margin-top: -19px;	
	margin-bottom: 0px;
	font-weight: bold;
	/*border: 1px solid;*/
}

#prof{
	font-size: 27.59px;
	margin-top: 0px;	
}
.profile{
	margin: 83px 0 0 4.978%;
}
.profile img, .profile p, .profile .line{	
	display: inline-block;
	vertical-align: middle;
	margin: 0 1.2445% 0 0;
}

.profile img{
	width: 6.5%;
	height: 5.710%;
}

.profile p{
	font-size: 45.33px;
	margin-left: -10px;
	margin-right: 18px;
	font-weight: bold;
	color: #0071BE;
}

.profile .line{
	border: 3px solid #0071BE;
	width: 14%;
	margin-left: 0px;
}

.text p{
	font-size: 16px;
	width: 31.8%;
	margin-left: 4.978%;
}

.contact{
	margin: 33px 0 0 4.978%;
}

.contact img, .contact p, .contact #lineprof{
	display: inline-block;
	vertical-align: middle;
}

.contact p{
	font-size: 45.33px;
	margin-left: 10px;
	margin-right: 12px;
	font-weight: bold;
	color: #0071BE;
}

.contact #lineprof{
	border: 3px solid #0071BE;
	width: 12.4%;
	margin-left: 0px;
}

.contact table{	
	table-layout: inherit;
	/*border-spacing: 30px;*/
	border-spacing: 0;
	/*border: 1px solid black;*/
	font-size: 22.66px;
	padding: 0;
	margin: -15px 0 0 0;
	border-collapse: collapse;
	width: 450px;
	height: 250px;
}

.contact table tr{
	text-align: left;
}


.skills{
	margin: -10px 0 0 4.978%;
}

.skills .img_skills, .skills #p_skills, .skills #lineskill{
	display: inline-block;
	vertical-align: middle;
}

.skills .img_skills{
	height: 78px;
	width: 79px;
	margin-top: 6px;	
}

.skills #p_skills{
	font-size: 45.33px;
	margin-left: 8px;
	margin-right: 12px;
	font-weight: bold;
	color: #0071BE;
}

.skills #lineskill{
	border: 3px solid #0071BE;
	width: 16%;
	margin-left: 10px;	
}

.skills .skill_param p{
	/*margin: -9px 0 60px 0;*/
	width: 35%;
	text-align: center;
	font-size: 27.66px;
}

.skills .creative{
	margin-top: -5px; 
	margin-bottom: 0px;
}
.skills ul{
	padding: 0;
	margin: 10px 0 0px 50px;
	/*border: 1px solid black;*/
}

.skills li{
	display: inline-block;
	background-color: #0071BE;
	border-radius: 500px;
	width: 19px;
	height: 19px;
	margin-right: 7px;
	margin-left: 0;
}

.skills .s_creative :nth-child(2){
	margin: 0 7px 0 0px;
}

.skills .s_creative :nth-child(3){
	margin: 0 8px 0 0px;
}

.skills .s_creative :nth-child(4){
	margin: 0 7px 0 0px;
}

.skills .s_creative :nth-child(5){
	margin: 0 10px 0 0px;
}

.skills .s_creative :nth-child(6){
	margin: 0 8px 0 0px;
}

.skills .s_creative :nth-child(7){
	margin: 0 8px 0 0;
}

.skills .s_creative :nth-child(8){
	margin: 0 8px 0 0px;
}

.skills .s_creative :nth-child(10){
	margin: 0 8px 0 0px;
	background-color: #ffffff;
}

.skills .s_creative :nth-child(11){
	margin: 0 7px 0 3px;
	background-color: #ffffff;
}

.skills .s_creative :nth-child(12){
	background-color: #ffffff;
}

.skills .d_teamwork{
	margin-top: -9px;
}

.skills .s_teamwork{
	margin-top: -18px;
}
.skills .s_teamwork li{
	display: inline-block;
	background-color: #0071BE;
	border-radius: 500px;
	width: 19px;
	height: 19px;
	margin-right: 7px;
	margin-left: 0;
}


.skills .s_teamwork :nth-child(2){
	margin: 0 7px 0 0px;
}

.skills .s_teamwork :nth-child(3){
	margin: 0 8px 0 0px;
}

.skills .s_teamwork :nth-child(4){
	margin: 0 7px 0 0px;
}

.skills .s_teamwork :nth-child(5){
	margin: 0 11px 0 0px;
}

.skills .s_teamwork :nth-child(6){
	margin: 0 8px 0 0px;
}

.skills .s_teamwork :nth-child(7){
	margin: 0 7px 0 0;
}

.skills .s_teamwork :nth-child(8){
	margin: 0 8px 0 0px;
}

.skills .s_teamwork :nth-child(10){
	margin: 0 7px 0 0px;
}

.skills .s_teamwork :nth-child(11){
	margin: 0 7px 0 3px;
}

.skills .s_teamwork :nth-child(12){
	background-color: #ffffff;
}

.skills .d_innovate{
	margin-top: -9px;
}

.skills .s_innovate{
	margin-top: -18px;
}

.skills .s_innovate :nth-child(2){
	margin: 0 7px 0 0px;
}

.skills .s_innovate :nth-child(3){
	margin: 0 8px 0 0px;
}

.skills .s_innovate :nth-child(4){
	margin: 0 7px 0 0px;
}

.skills .s_innovate :nth-child(5){
	margin: 0 11px 0 0px;
}

.skills .s_innovate :nth-child(6){
	margin: 0 8px 0 0px;
}

.skills .s_innovate :nth-child(7){
	margin: 0 7px 0 0;
	background-color: #ffffff;
}

.skills .s_innovate :nth-child(8){
	margin: 0 8px 0 0px;
	background-color: #ffffff;
}

.skills .s_innovate :nth-child(9)
{
	background-color: #ffffff;
}
.skills .s_innovate :nth-child(10){
	margin: 0 7px 0 0px;
	background-color: #ffffff;
}

.skills .s_innovate :nth-child(11){
	margin: 0 7px 0 3px;
	background-color: #ffffff;
}

.skills .s_innovate :nth-child(12){
	background-color: #ffffff;
}

.skills .d_communication{
	margin-top: -9px;
}

.skills .s_communication{
	margin-top: -20px;
}

.skills .s_communication :nth-child(2){
	margin: 0 7px 0 0px;
}

.skills .s_communication :nth-child(3){
	margin: 0 8px 0 0px;
}

.skills .s_communication :nth-child(4){
	margin: 0 7px 0 0px;
}

.skills .s_communication :nth-child(5){
	margin: 0 11px 0 0px;
}

.skills .s_communication :nth-child(6){
	margin: 0 8px 0 0px;
}

.skills .s_communication :nth-child(7){
	margin: 0 7px 0 0;
}

.skills .s_communication :nth-child(8){
	margin: 0 8px 0 0px;
}

.skills .s_communication :nth-child(10){
	margin: 0 7px 0 0px;
}

.skills .s_communication :nth-child(11){
	margin: 0 7px 0 3px;
}

.skills .s_communication :nth-child(12){
	background-color: #ffffff;
}